@import "tailwindcss";

:root {
  color-scheme: dark;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background-color: #09090b; /* zinc-950 */
  color: #fafafa;
  font-family: ui-sans-serif, system-ui, -apple-system, "Hiragino Kaku Gothic ProN",
    "Noto Sans JP", sans-serif;
}
